.address {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    background-image: url("../../assets/icons/locations.svg");
    background-repeat: no-repeat;
    background-position: top 60px right 180px;
}
.address h2 {
    grid-column: 1/-1;
    margin-bottom: 80px;
}
.address-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 16px;
    background-color: var(--color-0);
    box-shadow: 0 1px 2px var(--color-3);
    padding: 24px;
    padding-left: 60px;
}
.address-item h3 {
    grid-column: 1/-1;
    position: relative;
    display: flex;
    align-items: center;
}
.address-item h3::before {
    content: "";
    background-image: url("../../assets/icons/local.svg");
    display: inline-block;
    height: 26px;
    width: 20px;
    position: absolute;
    left: -32px;
}
.address-item-content {
    display: grid;
    gap: 8px;
    border-left: 2px solid var(--color-3);
    padding-left: 12px;
}

@media (max-width: 800px) {
    .address {
        gap: 20px;
        background-size: 180px;
        background-position: top 20px right 120px;
    }
    .address h2 {
        margin-bottom: 60px;
    }
    .address-item {
        grid-template-columns: 1fr;
    }
    .address-item h3::before {
        height: 26px;
        width: 20px;
    }
}

@media (max-width: 600px) {
    .address {
        grid-template-columns: 1fr;
        background-position: top 20px right;
    }
}
