.header-bg {
    background-color: var(--color-s5);
    position: sticky;
    top: 0;
    z-index: 1;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-menu {
    display: flex;
    gap: 48px;
}
.header-menu a {
    display: inline-block;
    padding: 16px 0;
    position: relative;
}
.header-menu a:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--color-2);
    margin-top: 4px;
    transition: transform .5s;
    transform: scaleX(0);
    transform-origin: right;
    position: absolute;
}
.header-menu a:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}

.header-menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header-menu-toggle,
.header label {
    display: none;
}
.header-menu-button,
.header-menu-button::before,
.header-menu-button::after {
    display: block;
    background-color: var(--color-2);
    position: absolute;
    height: 4px;
    width: 30px;
    border-radius: 2px;
}
.header-menu-button::before {
    content: "";
    margin-top: -8px;
}
.header-menu-button::after {
    content: "";
    margin-top: 8px;
}
#header-menu-toggle:checked + .header-menu-button-container .header-menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
#header-menu-toggle:checked + .header-menu-button-container .header-menu-button {
    background-color: var(--color-s5);
}
#header-menu-toggle:checked + .header-menu-button-container .header-menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 600px) {
    .header a {
        width: 120px;
    }
    .header nav {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .header-menu {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .header label {
        display: inline-flex;
        align-items: center;
    }
    #header-menu-toggle:checked ~ nav {
        max-height: 100%;
        margin-top: 20px;
    }
    .header-menu li {
        width: 100%;
    }
    .header-menu li:not(:last-child) {
        border-bottom: 1px solid var(--color-s3);
    }
    .header-menu a {
        width: 100%;
        text-align: center;
        
        transition: .5s;
    }
    .header-menu a:after {
        display: none;
    }
    .header-menu a:hover {
        background-color: var(--color-s3);
        transition: .5s;
    }
}
