.plans-bg {
    background-color: var(--color-s4);
}
.plans {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    align-items: center;
}
#plans .plans {
    padding-top: 0;
}
.plans-title {
    grid-column: 1/-1;
    margin-bottom: 80px;
}
.plans-item {
    background-color: var(--color-0);
    display: grid;
    grid-template-columns: 1fr auto;
    justify-self: center;
    max-width: 520px;
    padding: 48px 28px 28px 48px;
    border-radius: 28px 28px 28px 0;
    box-shadow: 4px 4px 0 0 var(--color-s1), inset 1px 1px 2px var(--color-3);
    transition: .15s;
    background-image: url("../../assets/icons/crown.svg");
    background-repeat: no-repeat;
    background-position: left 48px bottom 18px;
    background-size: 80px;
}
.plans-item:nth-of-type(2n) {
    background-image: url("../../assets/icons/rocket.svg");
    border-radius: 28px 0 28px 28px;
    box-shadow: 4px 4px 0 0 var(--color-p1), inset 1px 1px 2px var(--color-3);
}
.plans-item:hover {
    box-shadow: 8px 8px 0 0 var(--color-s1), inset 1px 1px 2px var(--color-3);
    transition: .15s;
}
.plans-item:nth-of-type(2n):hover {
    box-shadow: 8px 8px 0 0 var(--color-p1), inset 1px 1px 2px var(--color-3);
    transition: .15s;
}
.plans-item h3 {
    margin-bottom: 40px;
}
.plans-item span {
    grid-column: 2;
    text-align: right;
}
.plans-item ul {
    grid-column: 1/-1;
    margin-bottom: 48px;
}
.plans-item li {
    display: flex;
    align-items: center;
    position: relative;
}
.plans-item li+li {
    margin-top: 16px;
}
.plans-item li::before {
    content: "";
    display: inline-block;
    height: 9px;
    width: 13px;
    background-image: url("../../assets/icons/check.svg");
    position: absolute;
    left: -21px;
}
.plans-item a {
    grid-column: 1/-1;
    justify-self: flex-end;
}

@media (max-width: 800px) {
    .plans {
        grid-template-columns: 1fr;
    }
    .plans-title {
        margin-bottom: 60px;
    }
    .plans-item + .plans-item {
        margin-top: 40px;
    }
}

@media (max-width: 600px) {
    .plans-item {
        background-size: 56px;
        background-position: left 28px bottom 18px;
    }
    .plans-item span {
        display: block;
    }
}
