.questions {
    background-image: url("../../assets/icons/question-marks.svg");
    background-repeat: no-repeat;
    background-position: top 32px right 120px;
}
.questions h2 {
    margin-bottom: 80px;
}
.questions dl > div {
    padding: 20px;
    border-radius: 4px;
}
.questions dl > div:nth-child(odd) {
    background-color: var(--color-2);
}
.questions dt {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.questions dt::before {
    content: "";
    background: url("../../assets/icons/tilde.svg");
    display: inline-block;
    width: 10px;
    height: 4px;
}
.questions dt::after {
    content: "";
    background: url("../../assets/icons/open-arrow.svg");
    display: inline-block;
    width: 14px;
    height: 6px;
    transition: .5s;
}
.questions dt:hover::after {
    transform: rotate(180deg);
}
.questions dd {
    padding-left: 20px;
    padding-top: 12px;
    max-width: 96ch;
}

@media (max-width: 800px) {
    .questions {
        background-size: 120px;
        background-position: top 20px right 120px;
    }
    .questions h2 {
        margin-bottom: 60px;
    }
}

@media (max-width: 600px) {
    .questions {
        background-position: top 20px right;
    }
}
