.groups {
    padding-top: 80px;
    padding-bottom: 120px;
}
.groups-title {
    margin-bottom: 80px;
}
.groups ul {
    display: flex;
    flex-wrap: wrap;
    gap: 52px;
    padding: 0 20px;
    max-width: 1244px;
    margin: 0 auto;
}
.groups li {
    flex: 1;
    height: 100%;
    max-width: 380px;
    background-color: var(--color-0);
    box-sizing: border-box;
    border-radius: 12px 12px 0 0;
    border-bottom: 4px solid var(--color-t1);
    border-right: 0px solid var(--color-t1);
    transition: .15s;
    margin-bottom: 4px;
}
.groups li:nth-child(3n-1) {
    margin-top: 60px;
    border-bottom: 4px solid var(--color-p1);
    border-right: 0px solid var(--color-p1);
}
.groups li:nth-child(3n) {
    border-bottom: 4px solid var(--color-s1);
    border-right: 0px solid var(--color-s1);
}
.groups a {
    display: block;
    height: 100%;
}
.groups li:hover {
    margin-bottom: 0px;
    border-radius: 18px 18px 0 0;
    border-bottom-width: 8px;
    border-right-width: 8px;
    transition: .15s;
}
.groups img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}
.groups h3 {
    margin: 24px 0 0 24px;
}
.groups span {
    display: inline-block;
    margin: 4px 0 24px 24px;
}

@media (max-width: 1200px) {
    .groups ul {
        gap: 20px;
        justify-content: space-around;
    }
    .groups li {
        min-width: 240px;
    }
    .groups img {
        height: 280px;
    }
    .groups h3 {
        margin: 12px 0 0 12px;
    }
    .groups span {
        margin: 0 0 12px 12px;
    }
}

@media (max-width: 800px) {
    .groups h2 {
        margin-bottom: 40px;
    }
    .groups li:nth-child(3n-1) {
        margin-top: 0;
    }
} 