.intro-bg {
    background-color: var(--color-s5);
}
.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
    align-items: center;
}
.intro img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.intro h1 {
    margin-bottom: 20px;
    max-width: 12ch;
}
.intro p {
    margin-bottom: 24px;
    max-width: 32ch;
}

@media (max-width: 800px) {
    .intro-bg {
        background-color: var(--color-s4);
    }
    .intro h1 {
        margin-bottom: 12px;
    }
    .intro img {
        height: 300px;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .intro {
        display: flex;
        flex-direction: column-reverse;
        gap: 32px;
    }
}
